<h1>Payment Details:</h1><br>
<p><div class="input-group">
  <span class="input-group-addon" id="basic-addon1"> FullName</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div><br></p>

<p><div class="input-group">
	<span class="input-group-addon" id="basic-addon2">@example.com</span>
  <input type="text" class="form-control" ,autofocus: true  , placeholder="Your email" aria-describedby="basic-addon2">
  
</div><br></p>

<p><div class="input-group">
	<span class="input-group-addon" id="basic-addon2">Phone(+91)</span>
  <input type="text" class="form-control" placeholder="Phone number" aria-describedby="basic-addon2">
  
</div><br></p>


<p><label for="basic-url">Your address:</label>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">Address:</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div></p>

<p><div class="input-group">
  <span class="input-group-addon">City</span>
  <input type="text" class="form-control" aria-label="">
  <span class="input-group-addon"></span>
</div><br></p>

<p><div class="input-group">
  <span class="input-group-addon">State</span>
  <input type="text" class="form-control" aria-label="">
  <span class="input-group-addon"></span>
</div><br></p>

<p><div class="input-group">
  <span class="input-group-addon">Pincode-</span>
  <input type="text" class="form-control" aria-label="">
  <span class="input-group-addon"></span>
</div><br></p>

<h3> Payment Mode:</h3><br>
<div class="row">
  <div class="col-sm-3">
    <div class="input-group">
     <a href='422.html', class="btn btn-danger">Cash On Delivery</a>
        
      
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  

  <div class="col-sm-3">
    <div class="input-group">
      <a href= "404.html" class="btn btn-danger">Paypal</a>
      
        
      
     
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><br>

  <h3>Credit Card Details:</h3><br>
  <p><div class="input-group">
  <span class="input-group-addon">Card No.</span>
  <input type="text" class="form-control" aria-label="">
  <span class="input-group-addon"></span>
</div><br></p>
<p><div class="input-group">
  <span class="input-group-addon">CVC</span>
  <input type="text" class="form-control" aria-label="">
  <span class="input-group-addon"></span>
</div><br></p>
<div class="col-sm-6">
  <p><a href="/items/<%= @item_id%>", class= "btn btn-success">Continue Shopping</a>

<a href="thank.html" class= "btn btn-danger">Place Order</a><br></p></div>