<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Shop Homepage - Start Bootstrap Template</title>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/shop-homepage.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<style>
 body {
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}

#gallery {
   margin:0;
   padding:0;
   

 }

 #gallery li {

 	float:left;
 	width:30%;
  height: 30%;
 	margin:0.5%;
 	color:#000;
 	font-size: 1.25em;
  list-style: none;
 

 }
</style>
<body>
 
<section id="gallery">
<% @product.each do |p|%>
<ul>
	<li><div><%= image_tag p.image.url(:medium)%></div>
	<div><strong><%= p.name%></strong>
	<p>Price:<%=number_to_currency(p.price)%><br>
	<%= link_to "Learn More", item_product_path(p.Item_id, p), :class => "btn btn-danger" %></p></div></li></ul>

<%end%></section>

 <script src="js/jquery.js"></s
cript>
<!-- Bootstrap Core JavaScript-->
<script src="js/bootstrap.min.js"></script>
</body>
</html>