.list {
	width :50px;
	height :50px;
	display :inline-block;
	outline: 10px;
}
 body {
    background-image: url("assests/images/background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}