<h1>MyCart</h1>
 def index
    if params[:search]
      @articles = Article.search(params[:search]).order("created_at DESC")
    else
      @articles = Article.order("created_at DESC")
    end
  end
<%= image_tag @product.image %>
<%= @product.name%>
<%= @product.price %>
<%= @product.description%>
